@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}


.level-2 {
  width: 100%;
}

.level-3 {
  width: 95%;
}

.level-4 {
  width: 90%;
}

.level-5 {
  width: 85%;
}