body {
  margin: 0
}


.level-2 {
  width: 100%;
}

.level-3 {
  width: 95%;
  margin: 5px 0 0 10px;
}

.level-4 {
  width: 90%;
  margin: 5px 0 0 10px;
}

.level-5 {
  width: 85%;
  margin: 5px 0 0 10px;
}